/******************************************/
/*              HTML SELECTORS            */
/******************************************/
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
    font-weight: 900;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/******************************************/
/*                  HEADINGS              */
/******************************************/

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/******************************************/
/*                SECTIONS                */
/******************************************/
.color-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/******************************************/
/*               Containers               */
/******************************************/
.container-fluid {
    padding: 7% 15%;
}
/******************************************/
/*              TITLE SECTION             */
/******************************************/

#title {
    
    height: 100vh;
    position: relative;
}

#title .container-fluid {
    padding: 3% 15% 7%;    
    text-align: left;
}

#Nav {
    font-size: 1.5rem;
    font-family: 'Ubuntu';
    padding-bottom: 3.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}



.tindog-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 400;
}

.dog {
    /* padding-top: 20%; */
    width: 60%;
    transform: rotate(30deg);
    position: relative;
    z-index: 1;
    right: -20%;
}

.nav-item {
    padding: 0 18px;
}

.btnblack {
    padding-right: 20%;
}

/******************************************/
/*            FEATURES SECTION            */
/******************************************/

.icons {
    color: #ef8172;
    margin-bottom: 1rem;

}

.icons:hover {
    color: #ff4c68;
    font-size: 5rem;

}

.feat {
    padding: 0 7%;
}

.f-text {
    color: #8f8f8f;
}

#features {
    z-index: 2;
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

/******************************************/
/*          TESTIMONIALS SECTION          */
/******************************************/

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/******************************************/
/*              PRESS SECTION             */
/******************************************/
.press_logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

/******************************************/
/*             PRICING SECTION            */
/******************************************/
.pricing-column {
    padding: 3% 2%;
}

#pricing {
    padding: 100px;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}

/******************************************/
/*               CTA SECTION              */
/******************************************/

.btn-bottom {
    margin: 2%;
}

/******************************************/
/*                  FOOTER                */
/******************************************/

.ico {
    margin: 0.5%;
    color: grey;
}

.ico:hover {
    color: black;
}

#footer {
    padding: 3%;
    color: lightslategray;
    font-size: 15px;
}

/******************************************/
/*            MEDIA FUNCTIONS             */
/******************************************/

@media (max-width: 990px) {
    #title {
        height: 150vh;
        text-align: center;
    }

    #Nav {
        padding-bottom: 0.5rem;
    }

    .dog {
        padding-top: 10%;
        position: static;
        transform: rotate(0);
    }
}