/* By Type */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    /* color: white; */
    padding: 10% 0 10% 0;
}
h2{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* By Classes */
.container-fluid{
    padding: 1% 8%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.tindog-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 400;
}
.dog{
    /* padding-top: 20%; */
    width: 60%;
    transform: rotate(30deg);
    position: relative;
    z-index: 1;
    right: -20%;
}
.icons{
    color: #ef8172;
    /* font-size: 4rem; */
    margin-bottom: 1rem;
    
}
.icons:hover{
    color: #ff4c68;
    font-size: 5rem;
    
}
.feat{
    padding: 0 7%;
}
.f-text{
    color: #8f8f8f;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.press_logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
.pricing-column{
    padding: 3% 2%;
}

/* By ID */
#title{
    background-color: #ff4c68;
    color: #fff;
    height: 100vh;
    position: relative;
}

#Nav{
    font-size: 1.5rem;
    font-family:  'Ubuntu';
    padding-bottom: 3.5rem;
}
#features{
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    z-index: 2;
    position: relative;
}

#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.nav-item{
    padding: 0 18px;
}

.btnblack{
    padding-right: 20%;
}



/* Call To Action Section*/

.slog{
    padding: 7% 15%;
}
.slog-text{
    font-size: 3rem;
    margin: 0 0 5% 0;
    font-family: 'Montserrat';
    font-weight: 900;
}
.btn-bottom{
    margin: 2%;
}
#cta{
    background-color: #ff4c68;    
    color: #fff;
    text-align: center;
    /* height: 40vh; */
}

/* Footer Section*/

.ico{
    margin: 0.5%;
    color: grey;
}
.ico:hover{
    color: black;
}

#footer{
    text-align: center;
    padding: 3%;
    background-color: #fff;
    color: lightslategray;
    font-size: 15px;
}


@media (max-width: 990px){
    #title{
        text-align: center;
        height: 150vh;
    }
    #Nav{
        padding-bottom: 0.5rem;
    }
    .dog{
        padding-top: 10%;
        position: static;
        transform: rotate(0);
    }
}